.textContainer {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  color: white;
  height: 80%;
  justify-content: space-between;
}

.activeContainer {
  margin-bottom: 50%;
}

@media (max-width: 425px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}

@media (min-width: 1440px) {
  .textContainer {
    font-size: 20px;
  }
}
